<footer>
    <div class="container text-center py-4">
        <p class="text-muted">&copy; <%= new Date().getFullYear() %> Bryans Blog. All rights reserved.</p>
        <p>Follow us on:
            <a href="#" class="text-muted">Facebook</a> |
            <a href="#" class="text-muted">Twitter</a> |
            <a href="#" class="text-muted">Instagram</a>
        </p>
        <p>Contact us at: <a href="mailto: bryannuel008@gmail.com" class="text-muted"> bryan</a></p>
    </div>
    
</footer>